input, .input-group-addon {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0px auto;
    padding: 0;
}
 
#filter_bar {

    width: 25%;
    max-width: 300px;
    height: 100%;
    background: white;
    float: left;
    border-color: blue;
    border-style: solid;
}

#data_bar {
    width: 25%;
    max-width: 300px;
    height: 100%;
    background: white;
    float: right;
    border-color: blue;
    border-style: solid;
}

#[type = "checkbox"] {
    font-family: "Times New Roman", Times, serif;
    color: blue;
}

#h4 {
    font-family: "Times New Roman", Times, serif;
    color: blue;
    
}

#type_boxes {
    margin-left: 20px;
}
#container:after { 
    content: " "; 
    display: block;
} 
#filter_content {
    margin-left: 10px;
    font-family: "Open Sans", sans-serif;
    color: blue;}

/*#center_section {
    width: 100%;
    margin-left: auto;
}*/

#map_wrapper {
    min-width: 50%;
    max-width: 90%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
#map {  width: 100%;
        min-height: 100%}

#search_bar {
    max-width: 70ch;
    position: absolute;
    top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    left:0;
    right:0;
    margin-left:auto !important;
    margin-right:auto !important;
    z-index: 2;
}

#share_row{
    position: absolute;
    bottom: 30px ;
    right:0;
    margin-right:10px;
    right:0;
    z-index: 2;
}

#save-btn{
    margin-top: 10px;
}

#external_buttons{
    margin: 0 auto;
    max-height: 60px;
}

#share_map{
    margin: 0 auto;
    max-height: 400px;
}

#permalink{
    max-width: 600px;
    margin: 10px auto;
}